In [1]:
import os
import pandas as pd

# File path
cta_file = os.path.join("cta_ridership.csv")
teams_file = os.path.join("Team Schedules/MergedTeamSchedules2.csv")


# Read files
cta_raw = pd.read_csv(cta_file)
teams_raw = pd.read_csv(teams_file)

cta_raw.sort_values("date")

         station_id          stationname      date daytype  rides
408831        41460    Irving Park-Brown  1/1/2001       U    327
993885        41230        47th-Dan Ryan  1/1/2001       U    787
368482        40520               Foster  1/1/2001       U    126
219122        41050               Linden  1/1/2001       U    176
839745        40260           State/Lake  1/1/2001       U   2059
...             ...                  ...       ...     ...    ...
1026728       41080  47th-South Elevated  9/9/2020       W    396
1026068       40840      South Boulevard  9/9/2020       W    194
1024688       40340               Berwyn  9/9/2020       W    842
1026698       41070          Kedzie-Lake  9/9/2020       W    510
1023758       40010   Austin-Forest Park  9/9/2020       W    535

[1028040 rows x 5 columns]

In [2]:
# Convert string date to datetime
teams_raw.rename(columns={"Date":"date"},inplace=True)
teams_raw["date"] = pd.to_datetime(teams_raw["date"],format="%m/%d/%y")
cta_raw["date"] = pd.to_datetime(cta_raw["date"],format="%m/%d/%Y")
cta_raw.shape

(1028040, 5)

In [3]:
# delete unwanted rows in each dataset
merge_df = cta_raw.merge(teams_raw, on="date", how="left")
merge_df

,station_id,stationname,date,daytype,rides,Blackhawks,Cubs,Bulls,Bears,White Sox
0,41280,Jefferson Park,2017-12-22,W,6104,NaN,NaN,NaN,NaN,NaN
1,41000,Cermak-Chinatown,2017-12-18,W,3636,NaN,NaN,True,NaN,NaN
2,40280,Central-Lake,2017-12-02,A,1270,NaN,NaN,NaN,NaN,NaN
3,40140,Dempster-Skokie,2017-12-19,W,1759,NaN,NaN,NaN,NaN,NaN
4,40690,Dempster,2017-12-03,U,499,True,NaN,NaN,True,NaN
...,...,...,...,...,...,...,...,...,...,...
1028035,41700,Washington/Wabash,2020-09-26,A,2094,NaN,NaN,NaN,NaN,NaN
1028036,41700,Washington/Wabash,2020-09-27,U,1423,NaN,NaN,NaN,NaN,NaN
1028037,41700,Washington/Wabash,2020-09-28,W,2517,NaN,NaN,NaN,NaN,NaN
1028038,41700,Washington/Wabash,2020-09-29,W,2710,NaN,NaN,NaN,NaN,NaN
1028039,41700,Washington/Wabash,2020-09-30,W,2641,NaN,True,NaN,NaN,NaN

In [4]:
merge_df.fillna(value=False, inplace=True)
merge_df = merge_df[(merge_df["date"] > "2016-12-31")]
merge_df.sort_values(["date"])["date"].nunique()

1369

In [ ]:
merge_df.to_csv("clean_df.csv")