In [83]:
import os
import pandas as pd

# File path
cta_file = os.path.join("cta_ridership.csv")
teams_file = os.path.join("Team Schedules/MergedTeamSchedules2.csv")


# Read files
cta_raw = pd.read_csv(cta_file)
teams_raw = pd.read_csv(teams_file)

In [84]:
# Convert string date to datetime
teams_raw.rename(columns={"Date":"date"},inplace=True)
teams_raw["date"] = pd.to_datetime(teams_raw["date"],format="%m/%d/%y")
cta_raw["date"] = pd.to_datetime(cta_raw["date"],format="%m/%d/%Y")
cta_raw.head()

   station_id       stationname       date daytype  rides
0       41280    Jefferson Park 2017-12-22       W   6104
1       41000  Cermak-Chinatown 2017-12-18       W   3636
2       40280      Central-Lake 2017-12-02       A   1270
3       40140   Dempster-Skokie 2017-12-19       W   1759
4       40690          Dempster 2017-12-03       U    499

In [85]:
# delete unwanted rows in each dataset
merge_df = cta_raw.merge(teams_raw, on="date")
merge_df

,station_id,stationname,date,daytype,rides,Blackhawks,Cubs,Bulls,Bears,White Sox
0,41000,Cermak-Chinatown,2017-12-18,W,3636,NaN,NaN,True,NaN,NaN
1,41020,Logan Square,2017-12-18,W,7095,NaN,NaN,True,NaN,NaN
2,40090,Damen-Brown,2017-12-18,W,2813,NaN,NaN,True,NaN,NaN
3,40690,Dempster,2017-12-18,W,696,NaN,NaN,True,NaN,NaN
4,40300,Indiana,2017-12-18,W,802,NaN,NaN,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
114414,41660,Lake/State,2020-09-30,W,3491,NaN,True,NaN,NaN,NaN
114415,41670,Conservatory,2020-09-30,W,463,NaN,True,NaN,NaN,NaN
114416,41680,Oakton-Skokie,2020-09-30,W,233,NaN,True,NaN,NaN,NaN
114417,41690,Cermak-McCormick Place,2020-09-30,W,448,NaN,True,NaN,NaN,NaN
114418,41700,Washington/Wabash,2020-09-30,W,2641,NaN,True,NaN,NaN,NaN

In [87]:
merge_df.fillna(value=False, inplace=True)
merge_df

,station_id,stationname,date,daytype,rides,Blackhawks,Cubs,Bulls,Bears,White Sox
0,41000,Cermak-Chinatown,2017-12-18,W,3636,False,False,True,False,False
1,41020,Logan Square,2017-12-18,W,7095,False,False,True,False,False
2,40090,Damen-Brown,2017-12-18,W,2813,False,False,True,False,False
3,40690,Dempster,2017-12-18,W,696,False,False,True,False,False
4,40300,Indiana,2017-12-18,W,802,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...
114414,41660,Lake/State,2020-09-30,W,3491,False,True,False,False,False
114415,41670,Conservatory,2020-09-30,W,463,False,True,False,False,False
114416,41680,Oakton-Skokie,2020-09-30,W,233,False,True,False,False,False
114417,41690,Cermak-McCormick Place,2020-09-30,W,448,False,True,False,False,False
114418,41700,Washington/Wabash,2020-09-30,W,2641,False,True,False,False,False

In [89]:
merge_df.to_csv("clean_df.csv")